<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Alerts Page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/alerts_page/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/alerts_page/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <div id="u23" class="ax_default" data-left="0" data-top="33" data-width="1025" data-height="104">

        <div id="u24" class="ax_default" data-left="104" data-top="33" data-width="101" data-height="104">


<!--          FOR LOOP ON ONE OF THESE TO PASTE IN CONTENT FROM THE FIND ALL-->
          <div id="u25" class="ax_default ellipse">
            <img id="u25_img" class="img " src="images/login_page/u8.svg"/>
            <div id="u25_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <div id="u26" class="ax_default ellipse">
          <img id="u26_img" class="img " src="images/login_page/u9.svg"/>
          <div id="u26_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <div id="u27" class="ax_default" data-left="309" data-top="33" data-width="101" data-height="104">

          <div id="u28" class="ax_default ellipse">
            <img id="u28_img" class="img " src="images/login_page/u8.svg"/>
            <div id="u28_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <div id="u29" class="ax_default ellipse">
          <img id="u29_img" class="img " src="images/login_page/u9.svg"/>
          <div id="u29_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>


        <div id="u30" class="ax_default" data-left="514" data-top="33" data-width="101" data-height="104">


          <div id="u31" class="ax_default ellipse">
            <img id="u31_img" class="img " src="images/login_page/u8.svg"/>
            <div id="u31_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>


        <div id="u32" class="ax_default ellipse">
          <img id="u32_img" class="img " src="images/login_page/u9.svg"/>
          <div id="u32_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>


        <div id="u33" class="ax_default" data-left="719" data-top="33" data-width="101" data-height="104">


          <div id="u34" class="ax_default ellipse">
            <img id="u34_img" class="img " src="images/login_page/u8.svg"/>
            <div id="u34_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Ellipse) -->
        <div id="u35" class="ax_default ellipse">
          <img id="u35_img" class="img " src="images/login_page/u9.svg"/>
          <div id="u35_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u36" class="ax_default" data-left="924" data-top="33" data-width="101" data-height="104">

          <!-- Unnamed (Ellipse) -->
          <div id="u37" class="ax_default ellipse">
            <img id="u37_img" class="img " src="images/login_page/u8.svg"/>
            <div id="u37_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Ellipse) -->
        <div id="u38" class="ax_default ellipse">
          <img id="u38_img" class="img " src="images/login_page/u9.svg"/>
          <div id="u38_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u39" class="ax_default box_1">
        <div id="u39_div" class=""></div>
        <div id="u39_text" class="text ">
          <p><span>Commerce Alerts</span></p>
        </div>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u40" class="ax_default droplist">
        <div id="u40_div" class=""></div>
        <select id="u40_input" class="u40_input">
          <option class="u40_input_option" value="Sort By...">Sort By...</option>
          <option class="u40_input_option" value="Status">Status</option>
          <option class="u40_input_option" value="Hostname">Hostname</option>
          <option class="u40_input_option" value="File Path">File Path</option>
          <option class="u40_input_option" value="Date &amp; Time">Date &amp; Time</option>
        </select>
      </div>

      <!-- Unnamed (Rectangle) -->
      <a href="login">
      <div id="u41" class="ax_default button">
        <div id="u41_div" class=""></div>
        <div id="u41_text" class="text ">
          <p><span>  LOG OUT  </span></p>
        </div>
      </div>
      </a>

      <table id="u42">

            <tr style="width:1100px; height:140px; background-repeat: no-repeat; padding-bottom: 15px;" th:each ="alert: ${alerts}" background="images/alerts_page/circle.png" >
              <td th:text = "${alert.getApplication_id()}"></td>
              <td th:text = "${alert.getHostname()}"></td>
              <td th:text = "${alert.getFile()}"></td>
              <td th:text = "${alert.getTimestamp()}"></td>
              <td th:text = "${alert.getTimestamp()}"></td>
              <td> <button id = "viewButton" type = "button"> View </button> </td>
            </tr>


      </table>


      <!-- Unnamed (Group) -->
      <div id="u50" class="ax_default" data-left="0" data-top="143" data-width="1025" data-height="75">

        <!-- Unnamed (Rectangle) -->
        <div id="u51" class="ax_default box_1">
          <div id="u51_div" class=""></div>
          <div id="u51_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Timestamp (Shape) -->
        <div id="u52" class="ax_default label" data-label="Timestamp">
          <img id="u52_img" class="img " src="images/alerts_page/timestamp_u52.svg"/>
          <div id="u52_text" class="text ">
            <p><span>Date &amp; Time Received</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u53" class="ax_default box_1">
          <div id="u53_div" class=""></div>
          <div id="u53_text" class="text ">
            <p><span>File Path</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u54" class="ax_default box_1">
          <div id="u54_div" class=""></div>
          <div id="u54_text" class="text ">
            <p><span>Hostname</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u55" class="ax_default box_1">
          <div id="u55_div" class=""></div>
          <div id="u55_text" class="text ">
            <p><span>Status</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u56" class="ax_default button">
        <img id="u56_img" class="img " src="images/alerts_page/u56.svg"/>
        <div id="u56_text" class="text ">
          <p><span>Page 1</span></p>
        </div>
      </div>



    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
